.messege_div{
    width:max-content;
    background-color: #5b5bff;
    border-radius: 16px;
    padding: 5px 15px;
    color: white;
}

.messege_div:not(:last-child){
    margin-bottom: 8px;
}

.input-message{
    border-radius: 16px;
    border: 1px solid grey;
}
